@media (max-width: 768px) {
    .info h1{
        font-size: 4rem !important;
        
    }
    .languages span {
        flex: 1 1 calc(25% - 1.6rem);
        max-width: calc(25% - 1.6rem); 
    }
    .grid-projects {
        grid-template-columns: 1fr !important;
        gap: 2rem;
        place-items: center;
    }
    .services{
        min-width: 31rem;
    }
    .grid-services {
        grid-template-columns: 1fr !important;
        gap: 2rem;
        place-items: center;
    }
    .links-uteis a{
        width: 28rem !important;
    }

}
