@import url(./reset.css);
@import url(./mobile.css);
@import url(./animations.css);


:root{
    /*Cores - Principal*/
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    /*Cores - Base*/
    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;

    /*Links*/
    --bg-header: url(../../assets/Background_Intro.png);
    --bg-footer: url(../../assets/Background_Contacts.png);
}

html{
    font-size: 62.5%;
}

/*Info*/

header{
    background: var(--bg-header) no-repeat center/cover ;
    text-align: center;
}
.info{
    width: 70rem;
    margin: 0 auto;
    padding-top: 4rem;
    max-width: 100%; 
    box-sizing: border-box;
}
.foto-perfil{
    margin-top: 4rem;
    position: relative;
    display: inline-block;
}
.foto-perfil > img{  
    padding: .43rem;
    border: .2rem solid var(--red);
    width: 11.2rem;
    height: 11.2rem;
    border-radius: 50%;
}
.foto-perfil ion-icon{
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    color: var(--green);
    font-size: 3.2rem;
    font-weight: 200;
}
.info > p:nth-child(2){
    margin-top: 5.6rem;
    margin-bottom: .8rem;
    font-family: 'Inconsolata',monospace;
    font-size: 2rem;
    line-height: 120%;
    color: var(--gray-500);
}
i{
    color: var(--red);
    font-style: normal;
}
.info h1{
    margin-bottom: 2rem;
    font-family: 'Asap',sans-serif;
    font-size: 6.5rem;
    color: var(--gray-600);
}
.info > p:nth-child(4){
    margin-bottom: 8rem;
    font-family: 'Asap',sans-serif;
    font-size: 1.6rem;
    color: var(--gray-400);
    
}
.languages{
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6rem;
    justify-content: center;
    width: 100%;
}

.languages span{
    display: flex;
    align-items: center;
    background-color: var(--gray-300);
    border-radius: 99.9rem;
    padding: .9rem 1.6rem;
    font-size: 1.6rem;
    font-family: "Maven Pro",sans-serif;
    color: var(--gray-500);
    gap: .8rem;
}
ion-icon[name='logo-html5']{
    color: var(--red);
}
ion-icon[name='logo-css3']{
    color: var(--blue);
}
ion-icon[name='logo-javascript']{
    color: var(--yellow);
}
ion-icon[name='logo-react']{
    color: var(--blue);
}
ion-icon[name='logo-nodejs']{
    color: var(--green);
}
.arrow{
    padding-top: 9.4rem;
    padding-bottom: 6rem;
    animation: flutuar 1s infinite ease-in-out;
}

/*Projetos*/

.container-projects{
    background: var(--gray-200) ;
    padding: 7.2rem 12rem 14.4rem;
    text-align: center;
}
.title-projects{
    padding-bottom: 5.6rem;
}
.title-projects p{
    font-family: 'Inconsolata',monospace;
    font-size: 2rem;
    color: var(--red);
    padding-bottom: .8rem
}
.title-projects h2{
    font-family: 'Asap',sans-serif;
    font-size: 2.4rem;
    color: var(--gray-600);
}
.grid-projects{
    display: grid;
    gap: 2.4rem;
    place-content: center;
    grid-template-columns: repeat(3, 33rem);
}
.grid-projects div{
    background-color: var(--gray-300);
    padding: 1.2rem;
    border-radius: 1.2rem;
}
.grid-projects img {
    width: 30.6rem;
    height: 15.6rem;
    border-radius: .8rem;
}
.card-project h5{
    padding-top: .8rem;
    text-align: center;
    color: var(--gray-600);
    font-family: 'Asap',sans-serif;
    font-size: 1.6rem ;
}

.card-projects p{
    font-size: 1.6rem;
    text-align: start;
    color: var(--gray-500);
    font-family: 'Maven Pro',sans-serif;
}
.card-project:hover{
    outline: .15rem solid var(--gray-500) ;
}

/*Serviços*/

.container-services{
    background: var(--gray-100);
    padding: 8.8rem 0 12rem;
}
.header-service{
    text-align: center;
    padding-bottom: 5.6rem;
}
.header-service p{
    font-family: 'Inconsolata',monospace;
    font-size: 2rem;
    color: var(--red);
    padding-bottom: .8rem;
}
.header-service h2{
    font-family: 'Asap',sans-serif;
    font-size: 2.4rem;
    color: var(--gray-600);
}
.grid-services{
    display: grid;
    gap: 2.4rem;
    grid-template-columns: repeat(3,28rem);
    place-content: center;
}
.services{
    padding: 2rem;
    border: .2rem solid var(--gray-200);
    border-radius: 1.2rem;
}
.services h5{
    text-align: start;
    color: var(--gray-600);
    font-family: 'Asap',sans-serif;
    font-size: 1.6rem ;
    padding-bottom: .8rem;
}
.services p{
    font-size: 1.6rem;
    text-align: start;
    color: var(--gray-500);
    font-family: 'Maven Pro',sans-serif;
}
.services ion-icon{
    width: 4.8rem;
    height: 4.8rem;
    padding-bottom: 2rem;
}

.services ion-icon[name='desktop-outline']{
    color: var(--purple);
}
.services ion-icon[name='server-outline']{
    color: var(--yellow);
}
.services ion-icon[name='infinite']{
    color: var(--green);
}
/*Contato*/
footer{
    background: var(--bg-footer) no-repeat center/cover;
    padding: 12.8rem 12rem 20rem;
    text-align: center;
}
.header-footer{
    padding-bottom: 4.8rem;
}
.header-footer p{
    font-family: 'Inconsolata',monospace;
    font-size: 2rem;
    color: var(--purple);
    padding-bottom: .8rem;
}
.header-footer h2{
    font-family: 'Asap',sans-serif;
    font-size: 2.4rem;
    color: var(--gray-600);
    padding-bottom: .8rem;
}
.header-footer p:nth-child(3){
    font-size: 1.6rem;
    color: var(--gray-500);
    font-family: 'Maven Pro',sans-serif;
}
/* Links */
.links-uteis{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
}

.links-uteis a{
    display: flex;
    width: 40rem;
    height: 6.8rem;
    color: var(--gray-500);
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-300);
    padding: 0 2rem;
    border-radius: .8rem;
    text-decoration: none;
}
.links-uteis a:hover{
    outline: .2rem solid var(--blue);
    color: var(--blue);
}
.links-uteis ion-icon{
    font-size: 2.8rem;
}

.links-uteis span{
    display: flex;
    align-items: center ;
    font-size: 1.6rem;
    font-family: 'Maven Pro',sans-serif;
}
.links-uteis span span{
    margin: 0;
    white-space: nowrap;
    padding-left: 1.2rem;
}
.links-uteis img{
    margin-left: auto;
    color: var(--blue);
}

.card-project, .projects-text {
    background: linear-gradient(110deg,#222 40%, rgba(255, 255, 255, 0.2) 50%, #222 60%);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
    background-size: 200% 100%;
    animation: shine 3s infinite linear;
}
.links-uteis a {
    background: linear-gradient(110deg,#222 40%, rgba(255, 255, 255, 0.2) 50%, #222 60%);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
    background-size: 200% 100%;
    animation: shine 3s infinite linear;
}
