@import url(./reset.css);

:root{
    /*Cores - Principal*/
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    /*Cores - Base*/
    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;

    /*Links*/
    --bg-header: url(../../assets/Background_Intro.png);
    --bg-footer: url(../../assets/Background_Contacts.png);
}

header{
    background: var(--bg-header) no-repeat center/cover;
    text-align: center;
    
    
}
.info{
    width: 700px;
    margin: 0 auto;
}
.foto-perfil{
    margin-top: 120px;
    position: relative;
    display: inline-block;
}
.foto-perfil > img{
    
    
    padding: 4.3px;
    border: 2px solid var(--red);
    width: 112px;
    height: 112px;
    border-radius: 50%;
}
.foto-perfil ion-icon{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: var(--green);
    font-size: 32px;
    font-weight: 200;
}
.info > p:nth-child(2){
    margin-top: 56px;
    margin-bottom: 8px;
    font-family: 'Inconsolata';
    font-size: 20px;
    line-height: 120%;
    color: var(--gray-500);
}
i{
    color: var(--red);
    font-style: normal;
}
.info h1{
    margin-bottom: 20px;
    font-family: 'Asap';
    font-size: 65px;
    color: var(--gray-600);
}
.info > p:nth-child(4){
    margin-bottom: 80px;
    font-family: 'Asap';
    font-size: 16px;
    color: var(--gray-400);
}
.languages{
    display: inline-flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 94px;
}

.languages span{
    display: flex;
    align-items: center;
    background-color: var(--gray-300);
    border-radius: 999px;
    padding: 9px 16px;
    font-family: 'Maven Pro';
    color: var(--gray-500);
    gap: 8px;
}
ion-icon[name='logo-html5']{
    color: var(--red);
}
ion-icon[name='logo-css3']{
    color: var(--blue);
}
ion-icon[name='logo-javascript']{
    color: var(--yellow);
}
ion-icon[name='logo-react']{
    color: var(--blue);
}
ion-icon[name='logo-nodejs']{
    color: var(--green);
}
.arrow{
    padding-bottom: 60px;
}



.container-projects{
    background: var(--gray-300) ;

}
.container-services{
    background: var(--gray-200);
}
footer{
    background: var(--bg-footer);
}